/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: 'Montserrat', sans-serif;	margin: 0px;
	color: #333333;
}

header {
	height:60px;
	background-color: #336699;
	margin: 0px;
	padding: 5px;
	color: #fff;

}
section {
	background-color: #ffffff;
	margin: 0px;
	padding: 5px;
	color: #333;
}
h1 {
	margin: 10px;
}
h2 {
	margin: 10px;
}
h3 {
	margin: 10px;
}
h4 {
	margin: 10px;
}
h5 {
	height:15px;
	background-color: #333333;
	margin: 0px;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}
p {
	margin: 10px;
	padding: 5px;
}
form {
	margin: 10px;
}

#nav {
	height: 20px;
	padding: 10px;
	background-color: #333333;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
}

#nav a:link{
	color: #ffffff;
	text-decoration: none;
}
#nav a:visited{
	color: #ffffff;
	text-decoration: none;

}
#nav a:hover{
	color: #336699;
	text-decoration: underline;

}

a:link{
	color: #333333;
}
a:visited{
	color: #333333;
}
a:hover{
	color: #336699;
}

table {
width:100%;
margin: 5px;

}

th {
	width:32%;
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	float: left;
	background-color: #cccccc;
}
td {
	width:32%;
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	float: left;
}

footer {
	height:10px;
	background-color: #336699;
	margin: 0px;
	padding: 10px;
	color: #fff;
	font-size: 10px;
	line-height: 10px;

}