/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Sanchez);

.notice {
margin:0px;
	/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#628e11), to(#84c017));
	/* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #84c017, #628e11);
	/* Firefox 3.6+ */ background: -moz-linear-gradient(top, #84c017, #628e11);
	/* IE 10 */ background: -ms-linear-gradient(top, #84c017, #628e11);
	/* Opera 11.10+ */ background: -o-linear-gradient(top, #84c017, #628e11);
padding: 5px;
font-size: 17px;
color: #fff;
}

body {
	font-family: 'Sanchez', serif;	margin: 0px;
	color: #333333;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
}

header {
	height:100px;
	background-color: #ffffff;
	margin: 0px;
	padding: 5px;
	color: #fff;

}
section {
	/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#594018), to(#8b7551));
	/* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #8b7551, #594018);
	/* Firefox 3.6+ */ background: -moz-linear-gradient(top, #8b7551, #594018);
	/* IE 10 */ background: -ms-linear-gradient(top, #8b7551, #594018);
	/* Opera 11.10+ */ background: -o-linear-gradient(top, #8b7551, #594018);
	margin: 0px;
	padding: 5px;
	color: #fff;
}
#section_border { 
	height: 20px;
	/* fallback */ 
	/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faac38), to(#fcdfb3));
	/* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #fcdfb3, #faac38);
	/* Firefox 3.6+ */ background: -moz-linear-gradient(top, #fcdfb3, #faac38);
	/* IE 10 */ background: -ms-linear-gradient(top, #fcdfb3, #faac38);
	/* Opera 11.10+ */ background: -o-linear-gradient(top, #fcdfb3, #faac38);
}
h1 {
	margin: 10px;
}
h2 {
	margin: 10px;
}
h3 {
	margin: 10px;
}
h4 {
	margin: 10px;
}
h5 {
	height:15px;
	/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#628e11), to(#84c017));
	/* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #84c017, #628e11);
	/* Firefox 3.6+ */ background: -moz-linear-gradient(top, #84c017, #628e11);
	/* IE 10 */ background: -ms-linear-gradient(top, #84c017, #628e11);
	/* Opera 11.10+ */ background: -o-linear-gradient(top, #84c017, #628e11);
	margin: 0px;
	padding: 10px;
	color: #fff;
	font-size: 17px;
	line-height: 17px;
}
p {
	margin: 10px;
	padding: 5px;
	font-size: 17px;

}

form {
	margin: 10px;
	font-size: 15px;
	padding: 10px;
}
select {
	font-size: 15px;
	margin: 10px
}
input {
	font-size: 15px;
	margin: 10px
}
button {
	font-size: 15px;
margin: 10px}

#nav {
	height: 15px;
	padding: 10px;
	background-color: #fff;
	text-align: right;
	font-size: 14px;
	line-height: 15px;
	margin-top: -95px;
	margin-bottom: 70px;
	float: right;
}
#nav_button {
margin-left: 20px;
float: left;
text-align: center;
}

#nav a:link{
	color: #333;
	text-decoration: none;
	font-size: 11px;
}
#nav a:visited{
	color: #333;
	text-decoration: none;
	font-size: 11px;
}
#nav a:hover{
	color: #faac38;
	text-decoration: underline;
	font-size: 11px;
}

a:link{
	color: #333333;
}
a:visited{
	color: #333333;
}
a:hover{
	color: #faac38;
}

a.shared:link{
	color: #ffffff;
	margin-left: 30px;
}
a.shared:visited{
	color: #ffffff;
	margin-left: 30px;

}
a.shared:hover{
	color: #faac38;
	margin-left: 30px;
}

table {
width:100%;
margin-top: 5px;
}

th {
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	background-color: #d5c0ad;
	color: #333;
	margin:0px;
}
td {
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	margin:0px;
	background-color: #ffffff;
	color: #333;
}

footer {
	height:15px;
	background-color: #fff;
	margin: 0px;
	padding: 10px;
	color: #333;
	font-size: 10px;
	line-height: 15px;

}
#landingpage_text {
	font-size: 30px;
	color: #333;
	background-color: #f1f1f1;
}
.landing_image_wrapper {
height: 400px;
overflow: hidden;
}
.landing_image {
	width: 1440px;
	margin-top: -450px;
	overflow: hidden;
}