/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Sanchez);
.notice {
margin:0px;
background-color: #f5d671;
padding: 10px;
}
body {
	font-family: 'Sanchez', serif;	margin: 0px;
	color: #333333;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
}

header {
	height:100px;
	background-color: #ffffff;
	margin: 0px;
	padding: 5px;
	color: #fff;

}
section {
	background-color: #594018;
	margin: 0px;
	padding: 5px;
	color: #fff;
	border-top: 10px solid #faac38;
	border-bottom: 10px solid #faac38;
}
h1 {
	margin: 10px;
}
h2 {
	margin: 10px;
}
h3 {
	margin: 10px;
}
h4 {
	margin: 10px;
}
h5 {
	height:15px;
	background-color: #896224;
	margin: 0px;
	padding: 10px;
	color: #fff;
	font-size: 17px;
	line-height: 17px;
}
p {
	margin: 10px;
	padding: 5px;
	font-size: 17px;

}
form {
	margin: 10px;
}

#nav {
	height: 15px;
	padding: 10px;
	background-color: #fff;
	text-align: right;
	font-size: 14px;
	line-height: 15px;
	margin-top: -35px;
}

#nav a:link{
	color: #333;
	text-decoration: none;
}
#nav a:visited{
	color: #333;
	text-decoration: none;

}
#nav a:hover{
	color: #336699;
	text-decoration: underline;

}

a:link{
	color: #333333;
}
a:visited{
	color: #333333;
}
a:hover{
	color: #336699;
}

table {
width:100%;
margin-top: 5px;
}

th {
	width:31%;
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	background-color: #d5c0ad;
	color: #333;
	margin:0px;
}
td {
	width:31%;
	height:20px;
	padding: 5px;
	border: solid 1px #333;
	margin:0px;
	background-color: #ffffff;
	color: #333;
}

footer {
	height:15px;
	background-color: #fff;
	margin: 0px;
	padding: 10px;
	color: #333;
	font-size: 10px;
	line-height: 15px;

}